/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  font-family: 'Lato', sans-serif;
  margin: 2rem;
  padding: 0;
}

.cdk-overlay-pane{
  max-width: 100vw !important;
}

.close-button {
  float: right;
}

.back-button {
  float: left;
}

.success-snackbar{
  width: 80vw;
  background-color: black;
  color: white;
  button {
    color: white;
  }
}

.failure-snackbar{
  width: 80vw;
  background-color: red;
  color: white;
  button {
    color: white;
  }
}