<app-navbar></app-navbar>
<h2>Apps List
  <button mat-raised-button class="close-button" (click)="uploadApp()">
    <mat-icon>add</mat-icon>
    Upload App
  </button>
</h2>
<div class="action-con">
  <div class="searchbar">
    <!-- <mat-form-field>
      <mat-select placeholder="Year">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Developer Name">
        <mat-option *ngFor="let developer of developers" [value]="developer">
          {{developer}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-input-container>
        <span matPrefix><mat-icon matPrefix>search</mat-icon> &nbsp;</span>        
      <input matInput placeholder="Search by App Name" #searchText (keyup)="onKeyUp(searchText.value)">
      <!-- <mat-icon matPrefix>search</mat-icon> -->
    </mat-input-container>
  </div>
</div>

<!-- <div class="app-con">
  <mat-card *ngFor="let app of appList; let i = index" (click)="openApp(i)">
    <h4>{{app.app_name}}</h4>
    <img md-card-image src="assets/img/appicon1.svg" alt="fake icon">
  </mat-card>
</div> -->
<div class="app-con">
    <mat-card *ngFor="let app of appList; let i = index" (click)="routeToApp(i)">
      <h4>{{app.app_name}}</h4>
      <img md-card-image src="assets/img/appicon1.svg" alt="fake icon">
    </mat-card>
  </div>
