div.top-con {
  // display: flex;
  // justify-content: space-between;
  img {
    max-height: 4rem;
  }
}

div.action-con {
  display: flex;
  justify-content: space-between;
  div.searchbar {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    mat-icon {
        margin-right: 1rem;
    }
    mat-form-field {
        width: 15%;
        margin-right: 1rem;
    }
    mat-input-container {
      width: 25%;
    }
    mat-checkbox {
      margin-right: 1rem;
    }
   
  }
}

div.app-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  mat-card {
    display: flex;
    flex-direction: column; // justify-content: center;
    align-items: center;
    cursor: pointer;
    width: calc(75%/3);
    margin-bottom: 2rem;
  }
}

// div.button-con {
//     display: flex;
// }
