div.top-con {
  // display: flex;
  // justify-content: space-between;
  img {
    max-height: 4rem;
  }
}
// .purchased {
//   background-color: #77d777;
//   color: white;
// }

div.action-con {
  display: flex;
  justify-content: space-between;
  div.searchbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    mat-icon {
      margin-right: 1rem;
    }
    mat-form-field {
      width: 20%;
      margin-right: 1rem;
    }
    mat-input-container {
      width: 55%;
      margin-right: 1rem;      
    }
    mat-checkbox {
      margin-right: 1rem;
    }
  }
}

div.app-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  mat-card {
    display: flex;
    flex-direction: column; // justify-content: center;
    align-items: center;
    cursor: pointer;
    width: calc(75%/3);
    margin-bottom: 2rem;
    img {
        margin-bottom: 1rem;
    }
    mat-icon {
      position: absolute;
      right: 1rem;
      color: green;
    }

  }
  div.extra-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    span {
        font-weight: 500;
    }
   
  }
}
