<app-navbar></app-navbar>
<h2>Apps List
  <button mat-raised-button class="close-button" (click)="uploadApp()">
    <mat-icon>add</mat-icon>
    Upload App
  </button>
</h2>
<div class="action-con">
  <div class="searchbar">
    <mat-form-field>
      <mat-select placeholder="Year">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Developer Name">
        <mat-option *ngFor="let developer of developers" [value]="developer">
          {{developer}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-input-container>
      <input matInput placeholder="Search by App Name">
      <!-- <mat-icon matPrefix>search</mat-icon> -->
    </mat-input-container>
  </div>
</div>

<div class="app-con">
  <mat-card *ngFor="let app of appList; let i = index" (click)="openApp(i)">
    <h4>{{app.appName}}</h4>
    <img md-card-image src="assets/img/appicon1.svg" alt="fake icon">
    <!-- <mat-card-actions>
      <button mat-icon-button (click)="downloadApp(i, $event)">
        <mat-icon>file_download</mat-icon>
      </button>
    </mat-card-actions> -->

  </mat-card>
</div>
<mat-paginator [length]="20" [pageIndex]="0" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 100]">
</mat-paginator>
