<app-navbar></app-navbar>
<div class="action-con">

  <div class="searchbar">
    <mat-form-field>
      <mat-select placeholder="Price Range" (change)="filterPrice()" [(ngModel)]="selectedPriceRange" name="price">
        <mat-option *ngFor="let price of prices" [value]="price">
          {{price}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="App Genre" (change)="filterGenre()" [(ngModel)]="selectedGenre" name="genre">
        <mat-option *ngFor="let genre of genres" [value]="genre">
          {{genre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-input-container>
      <input matInput placeholder="Search by App Name" #searchText (keyup)="onKeyUp(searchText.value)">
    </mat-input-container>


  </div>
</div>
<h2>Recommended For You</h2>
<div class="app-con">
  <div *ngIf="recommendedAppList.length === 0">
    <span>Sorry, we couldn't recommend any apps for you</span>
  </div>
  <mat-card *ngFor="let app of recommendedAppList; let i = index" (click)="routeToRecommendedApp(i)">
    <h4>{{app.app_name}}</h4>
    <img md-card-image src="assets/img/appicon1.svg" alt="fake icon">
    <div class="extra-info">
      <span>{{app.genre}}</span>
      <span *ngIf="app.price === 0">Free</span>
      <span *ngIf="app.price !== 0">${{app.price}}</span>
    </div>
  </mat-card>
</div>
<br>
<h2>Browse Apps</h2>
<div class="app-con">
  <mat-card *ngFor="let app of appList; let i = index" (click)="routeToApp(i)">
    <h4>{{app.app_name}}</h4>
    <img md-card-image src="assets/img/appicon1.svg" alt="fake icon">
    <div class="extra-info">
      <span>{{app.genre}}</span>
      <span *ngIf="app.price === 0">Free</span>
      <span *ngIf="app.price !== 0">${{app.price}}</span>
    </div>
  </mat-card>
</div>
