div.top-con {
  // background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      max-height: 4rem;
      cursor: pointer;
    }
    div.tabs-con {
      img {
        margin-right: 2rem;
      }
      display: flex;
      align-items: center;
    }
  }