<app-navbar></app-navbar>
<!-- <button mat-icon-button class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button> -->
  <h2 class="main-title" style="text-align:left;">App Details</h2>
  <!-- <div class="top-section">
    <img [src]="appIcon">
    <div class="text-button-con">
      <div class="text-section">
        <h3 class="title">{{selectedApp.appName}}</h3>
        <span>{{selectedApp.genre}}</span>
      </div>
      <div class="button-section">
        <button mat-raised-button>
          <mat-icon>file_download</mat-icon>
          Download App
        </button>
      </div>
    </div>
  </div> -->
  <!-- <div class="screenshot-section">
    <span *ngFor="let screenshot of screenshots">
      <img [src]="screenshot">
    </span>
  </div> -->
  <div class="top-con">
    <img [src]="appIcon">
    <h2 class="title">{{selectedApp.app_name}}</h2>
    <span>{{selectedApp.genre}}</span>
    <div class="button-con">
      <button mat-raised-button>
        <mat-icon>file_download</mat-icon>
        Download App
      </button>
    </div>
  
  </div>
  <hr>
  <div class="description-section">
    <span class="title">Description</span>
    <br>
    <span>{{selectedApp.description}}</span>
  </div>
  <br>
  <hr>
  <div class="information-section">
    <span class="title">Information</span>
    <br>
  
    <div class="column-con">
      <div class="column">
        <div class="subtitle">Developer(s)</div>
        <span class="data" *ngFor="let developer of selectedApp.developers">{{developer}}</span>
      </div>
      <div class="column">
        <div class="subtitle">Genre</div>
        <span class="data">
          {{selectedApp.genre}}
        </span>
      </div>
      <div class="column">
        <div class="subtitle">Platform</div>
        <span class="data">
          Android
        </span>
      </div>
      <div class="column">
        <div class="subtitle">Size</div>
        <span class="data">
          1.5MB
        </span>
      </div>
      <div class="column">
        <div class="subtitle">Last Updated</div>
        <span class="data">
          11 Oct 2017
        </span>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="feedback-section">
    <span class="title">Reviews</span>
    <br>
    <div class="general-con">
      <button mat-raised-button (click)="openFeedback()">
        <mat-icon>rate_review</mat-icon>
        Write a Review
      </button>
      <mat-form-field>
          <mat-select placeholder="Filter number of feedbacks" (change)="filterFeedback()" [(ngModel)]="selectedScore" name="score">
            <mat-option *ngFor="let score of usefulnessScore" [value]="score">
              {{score}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <div class="star-group" *ngIf="averageFeedbackScore === 1">
        <span>Overall Rating: </span>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
      <div class="star-group" *ngIf="averageFeedbackScore === 2">
        <span>Overall Rating: </span>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
      <div class="star-group" *ngIf="averageFeedbackScore === 3">
        <span>Overall Rating: </span>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
      <div class="star-group" *ngIf="averageFeedbackScore === 4">
        <span>Overall Rating: </span>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
      <div class="star-group" *ngIf="averageFeedbackScore === 5">
        <span>Overall Rating: </span>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
      </div>
    </div>
    <br>
    <div class="feedback-con">
      <mat-card *ngFor="let feedback of feedbackList; let i = index">
        <h2 *ngIf="feedback.stars === 1">
          <div class="star-group">
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
          </div>
          <div class="icon-buttons">
            <div class="count-con">
              <span>{{feedback.thumbs_up}}</span>
              <mat-icon class="thumb-up" (click)="endorseUp(i)">thumb_up</mat-icon>
            </div>
            <div class="count-con">
              <span>{{feedback.thumbs_down}}</span>
              <mat-icon class="thumb-down" (click)="endorseDown(i)">thumb_down</mat-icon>
            </div>
          </div>
        </h2>
        <h2 *ngIf="feedback.stars === 2">
          <div class="star-group">
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
          </div>
          <div class="icon-buttons">
            <div class="count-con">
              <span>{{feedback.thumbs_up}}</span>
              <mat-icon class="thumb-up" (click)="endorseUp(i)">thumb_up</mat-icon>
            </div>
            <div class="count-con">
              <span>{{feedback.thumbs_down}}</span>
              <mat-icon class="thumb-down" (click)="endorseDown(i)">thumb_down</mat-icon>
            </div>
          </div>
        </h2>
        <h2 *ngIf="feedback.stars === 3">
          <div class="star-group">
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
          </div>
          <div class="icon-buttons">
            <div class="count-con">
              <span>{{feedback.thumbs_up}}</span>
              <mat-icon class="thumb-up" (click)="endorseUp(i)">thumb_up</mat-icon>
            </div>
            <div class="count-con">
              <span>{{feedback.thumbs_down}}</span>
              <mat-icon class="thumb-down" (click)="endorseDown(i)">thumb_down</mat-icon>
            </div>
          </div>
        </h2>
        <h2 *ngIf="feedback.stars === 4">
          <div class="star-group">
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_border</mat-icon>
          </div>
          <div class="icon-buttons">
            <div class="count-con">
              <span>{{feedback.thumbs_up}}</span>
              <mat-icon class="thumb-up" (click)="endorseUp(i)">thumb_up</mat-icon>
            </div>
            <div class="count-con">
              <span>{{feedback.thumbs_down}}</span>
              <mat-icon class="thumb-down" (click)="endorseDown(i)">thumb_down</mat-icon>
            </div>
          </div>
        </h2>
        <h2 *ngIf="feedback.stars === 5">
          <div class="star-group">
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_rate</mat-icon>
            <mat-icon>star_rate</mat-icon>
          </div>
          <div class="icon-buttons">
            <div class="count-con">
              <span>{{feedback.thumbs_up}}</span>
              <mat-icon class="thumb-up" (click)="endorseUp(i)">thumb_up</mat-icon>
            </div>
            <div class="count-con">
              <span>{{feedback.thumbs_down}}</span>
              <mat-icon class="thumb-down" (click)="endorseDown(i)">thumb_down</mat-icon>
            </div>
          </div>
        </h2>
  
        <span>{{feedback.comments}}</span>
      </mat-card>
    </div>
  </div>
