div.login-con {
  display: flex;
  flex-direction: column;
  margin-left: 12rem;
  margin-right: 12rem;
}

div.logo-con {
  display: flex;
  justify-content: center;
  img {
    max-height: 15rem;
  }
}
div.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}