div.container {
    div.top-row {
        display: flex;
        mat-input-container {
            width: 50%;
        }
        mat-input-container:nth-child(1) {
            margin-right: 1rem;
        }
    }
    div.row {
        mat-input-container {
            width: 100%;
        }
        mat-form-field {
            width: 100%;
        }
    }
    button {
        float: right;
    }
}