<button mat-icon-button class="close-button" (click)="closeDialog()">
  <mat-icon>close</mat-icon>
</button>
<h2 class="main-title" style="text-align:left;">Sign Up</h2>
<h4>Fill in the form to create an account</h4>
<div class="container">
  <!-- <form (ngSubmit)="signup()"> -->
    <div class="top-row">
      <mat-input-container>
        <input matInput placeholder="Enter First Name" name="first_name" [(ngModel)]="newUser.first_name">
        <mat-error>First Name is
          <strong>required</strong>
        </mat-error>
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Enter Last Name" name = "last_name" [(ngModel)]="newUser.last_name">
        <mat-error>Last Name is
          <strong>required</strong>
        </mat-error>
      </mat-input-container>
    </div>
    <div class="row">
      <mat-input-container>
        <input matInput placeholder="Enter Email Address" name = "email" [(ngModel)]="newUser.email">
        <mat-error>Email is
          <strong>required</strong>
        </mat-error>
      </mat-input-container>
    </div>
    <div class="row">
      <mat-input-container>
        <input matInput placeholder="Enter Username" name = "username" [(ngModel)]="newUser.username">
        <mat-error>Username is
          <strong>required</strong>
        </mat-error>
      </mat-input-container>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Enter Password" [type]="hide ? 'password' : 'text'" name = "password1" [(ngModel)]="newUser.password1">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Reenter Password" [type]="hide ? 'password' : 'text'" name = "password2" [(ngModel)]="newUser.password2">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Select Birthday" name = "DOB" [(ngModel)]="newUser.dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <button mat-raised-button (click)="closeDialog()">Cancel</button>
    <button mat-raised-button (click)="signup()">Confirm</button>
  <!-- </form> -->
</div>
