<button mat-icon-button class="back-button" routerLink="/home" routerLinkActive="active">
  <mat-icon>arrow_back</mat-icon>
</button>
<h2 class="main-title" style="text-align:center;">User Profile</h2>
<div class="profile-con">
  <div class="icon-con">
    <img src="assets/img/user-profile.svg">
  </div>
  <div class="info-con">
    <h4>
      First Name:
    </h4>
    <span>{{selectedUser.first_name}}</span>
    <br>
    <h4>
      Last Name:
    </h4>
    <span>{{selectedUser.last_name}}</span>
    <br>
    <h4>
      Username:
    </h4>
    <span>{{selectedUser.username}}</span>
    <br>
    <!-- <h4>
      Password:
    </h4>
    <span>{{selectedUser.email}}</span>
    <br> -->
    <h4>
      Email Address:
    </h4>
    <span>{{selectedUser.email}}</span>
    <br>

  </div>

</div>
