div.profile-con {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}
div.icon-con {
    margin-right: 2rem;
}
img {
    max-width: 8rem;
}
div.personal-info-con {
    display: flex;
    div.info-con {
        div.subtitle {
            // text-transform: uppercase;
            color: grey;
        }
        span {
            display: block;
        }
    }
}
