<app-navbar></app-navbar>
<h2>Sales Analysis</h2>
<mat-tab-group>
    <mat-tab label="Popular Apps">
        <!-- <h3 style="text-align:left;">Popular Apps</h3> -->
        <!-- <div style="display: block"> -->
          <canvas class="apps-chart" baseChart #appsChart="base-chart" [datasets]="barChartAppsData" [labels]="barChartAppsLabel" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" [colors]="barColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        <!-- </div> -->
    </mat-tab>
    <mat-tab label="Popular Developers">
        <!-- <h3 style="text-align:left;">Popular Developers</h3> -->
        <!-- <div style="display: block"> -->
          <canvas class="dev-chart" baseChart #devChart="base-chart" [datasets]="barChartDevData" [labels]="barChartDevLabel" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" [colors]="barColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        <!-- </div> -->
    </mat-tab>
    <mat-tab label="Popular Genre">
        <!-- <h3 style="text-align:left;">Popular Apps</h3> -->
          <canvas class="genre-chart" baseChart #genreChart="base-chart" [datasets]="barChartGenreData" [labels]="barChartGenreLabel"
            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barColors" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    </mat-tab>    
  </mat-tab-group>
<!-- <div class="barcharts">
  <h3 style="text-align:center;">Popular Apps</h3>
  <div style="display: block">
    <canvas class="apps-chart" baseChart #appsChart="base-chart" [datasets]="barChartAppsData" [labels]="barChartAppsLabel" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType" [colors]="barColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>
  <hr>
  <br>
  <h3 style="text-align:center;">Popular Developers</h3>
  <div style="display: block">
    <canvas class="dev-chart" baseChart #devChart="base-chart" [datasets]="barChartDevData" [labels]="barChartDevLabel" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType" [colors]="barColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>
  <hr>
  <br>
  <h3 style="text-align:center;">Popular Apps</h3>
  <div style="display: block">
    <canvas class="genre-chart" baseChart #genreChart="base-chart" [datasets]="barChartGenreData" [labels]="barChartGenreLabel"
      [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barColors" (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
</div> -->
