{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_app_list %}
<ul>
    {% for app in latest_app_list %}
    <li><a href="/appstore/{{ app.id }}/">{{ app.app_name }}</a></li>    {% endfor %}
</ul>
{% else %}
<p>No apps are available.</p>
{% endif %}

{% block content %} 
<form method="get" action="/logout">
	<button type="submit">Click here to logout</button>
</form>
<form method="get" action="/password">
	<button type="submit">Click here to change password</button>
</form>
<form method="get" action="/particulars">
	<button type="submit">Click here to edit your particulars</button>
</form>
{% endblock %}